.hide {
  display: none;
}
.show {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #337ab7;
  color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
button {
  color: black;
}
input {
  width: 250px;
  color: black;
}
